:root {
	--header-background: #0a0a0a;
	--header-background: #101010;
	--header-background: #171717;
	--header-foreground: #ededed;
}






		
.Header {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 70px;
	width: 100%;
	padding: 0 10px;
	background: var(--header-background);
	box-shadow: 0 0 8px 2px rgb(10,10,10, 0.3);
}

.AppTitle {
	user-select: none;
	color: var(--header-foreground);
	font-size: 30px;
}


.sortButton {
	user-select: none;
	position: absolute;
	right: 36px;
	height: 36px;
	width: 36px;
	border: none;
	border-radius: 10px;
	background: rgb(237,237,237, 0.2);
	color: var(--header-foreground);
	font-size: 24px; /* size of icons (google font icons) */
	transition: 0.07s ease;
}

/* when feature is on */
.sortButton:hover, .activeSortButton {
	background: var(--header-foreground);
	color: var(--header-background);
	scale: 1;
}
/* when button clicked (like mouse hove but for mobile use ":active") */
.sortButton:active {
	background: var(--header-foreground);
	color: var(--header-background);
	scale: 1.2;
}







	/* Mobile Screen Layout */
@media (max-width: 600px) {
		
	.Header {
		height: 70px;
		padding: 0 10px;
		box-shadow: 0 0 8px 2px rgb(10,10,10, 0.3);
	}
	
	.AppTitle {
		font-size: 30px;
	}
	
	
	.sortButton {
		right: 36px;
		height: 36px;
		width: 36px;
		border-radius: 10px;
		background: rgb(237,237,237, 0.2);
		font-size: 24px; /* size of icons (google font icons) */
		transition: 0.07s ease;
	}
	
	/* when feature is on */
	.sortButton:hover, .activeSortButton {
		background: var(--header-foreground);
		color: var(--header-background);
		scale: 1;
	}
	/* when button clicked (like mouse hove but for mobile use ":active") */
	.sortButton:active {
		background: var(--header-foreground);
		color: var(--header-background);
		scale: 1.2;
	}
	
	
}